.theme-dark:root {
  --tv-color-platform-background: hsl(330 6.7% 5.9%);
  --tv-color-pane-background: hsl(330 6.7% 5.9%);
}

.layout__area--top {
  border-bottom: 1px solid hsl(340 3.3% 17.8%);
}

.layout__area--left {
  border-right: 1px solid hsl(340 3.3% 17.8%);
  top: 39px !important;
}

#header-toolbar-symbol-search {
  pointer-events: none;
  width: auto;
}

#header-toolbar-symbol-search svg {
  display: none;
}